body {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: hsl(0, 0%, 15%);
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
}

.calc-dispaly {
  font-family: inherit;
  font-size: 2rem;
  text-align: left;
  width: 100%;
  color: #fff;
  background-color: hsl(0, 0%, 20%);
  padding-inline: 20px;
  border: none;
  box-sizing: border-box;
  padding: 20px 10px;
}

.calc-dispaly:focus {
  outline: none;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 10px;
  padding: 20px 10px;
}

.btn {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  color: #fff;
  background-color: hsl(0, 0%, 30%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(0, 0%, 40%);
}

.btn:active {
  background-color: hsl(0, 0%, 50%);
}

.operator-btn {
  background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
  background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
  background-color: hsl(35, 100%, 75%);
}

@media (min-width: 600px) {
  .calculator {
    width: 450px;
  }

  .calc-dispaly {
    padding: 20px;
  }
  
  .keys {
    padding: 20px;
  }
  
  .btn {
    width: 80px;
    height: 80px;
    font-size: 3rem;
  }
}